<footer role="contentinfo">
  <div id="footer--container">
    <div id="footer--left">
      <a href="{{ site.githubUrl }}">
        {{ site.name }} 
      </a>
    </div>
    <div id="footer--middle">
        {% svgsprite %}
          <a href="{{ site.twitterUrl }}" title="Edit this page">{% icon "twitter" %}</a>
          <a href="{{ site.githubUrl }}" title="Edit this page">{% icon "github" %}</a>
          <a href="{{ site.linkedInUrl }}" title="Edit this page">{% icon "linkedin" %}</a>
    </div>
    <div id="footer--right"> 
      &copy; {{ site.copyright }}
    </div>
  </div>
</footer>