---
layout: base
title: Home
permalink: '/'
heading: Welcome
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <p>
        Some information about me
    </p>
    <p>Visit my department page to learn more. </p>
</article>
