---
layout: base
title: Home
permalink: '/'
heading: Welcome
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <p>
        I am a PhD Candidate in the Department of Italian at Rutgers University.
    </p>
    <p>Please visit my department page to learn more. </p>
    <p>Thanks for visiting!<p>
</article>
